.main {
  margin-top: 1px;
  background-color: rgba(219, 217, 217, 0.247);
  width: 100%;
  padding: 0 10px; 
}

.container {
  width: 100%;
  margin-top: 1%;
}

.imgBanner {
  width: 100%;
  height: 400px;
}


@media (max-width: 768px) {

  .imgBanner {
    height: 250px; 
  }
}

@media (max-width: 480px) {
  
  .imgBanner {
    height: 200px; 
  }
}
