.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
.main {
  width: 450px;
  height: 500px;
  border: none;
  box-shadow: 1px 1px 14px rgb(67, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main h2 {
  font-size: 1.9rem;
  font-weight: 700;
}
.inputContainer {
  width: 65%;
  padding-left: 8px;
  border: 2px solid rgba(0, 0, 0, 0.364);
  /* border-radius: 22px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputContainer span {
  margin-right: 15px;
  font-size: 1.3rem;
  margin-top: -5px;
}
.input {
  padding: 11px;
  border: none;
  outline: none;
}
.btn {
  width: 50%;
  height: 12%;
  background-color: rgb(12, 12, 205);
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
}
.text {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: -20px;
}
.link {
  margin-left: 4px;
  text-decoration: none;
  color: rgb(33, 37, 41);
  &:hover {
    color: rgb(1, 1, 255);
    text-decoration: underline;
  }
}
.checkboxContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.checkboxContainer label {
  font-size: 1.2rem;
}
